node_modules
.nuxt
.output
.data
dist
.git
.gitignore
.env
.env.*
!.env.example
!.env.docker.example
Dockerfile
docker-compose.yml
.dockerignore
npm-debug.log*
pnpm-debug.log*
*.log
.DS_Store
.vscode
.idea
coverage
test-results
README*.md
TODO.md
